# VS2010
Debug/
ipch/
*.sdf
*.sln
*.suo
*.opensdf

# SRC
*.vcxproj
*.filters
*.user

# pic
pic/
*.jpg

#vscode build
build/
build/.cmake/api/v1/reply/target-ALL_BUILD-Release-86409c0e553ad881b025.json
